<!--
  Generated template for the ClienteDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Cliente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Empresa {{ compra?.nomeFantasia }}
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          CNPJ - {{ compra?.cnpj }}
        </ion-row>
        <ion-row style="margin-top: 10px;">
          Contato: {{ compra?.telefone }}
        </ion-row>
        <ion-row style="margin-top: 10px;" *ngIf="compra?.visualizar">
          Dívida: {{ compra?.divida.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <button ion-button>
            <ion-icon name="create" (click)="visualizar()"></ion-icon>
          </button>
     
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="compra?.visualizar">
    <ion-card-header>
      Compras
    </ion-card-header>
    <ion-card-content>
      <ion-grid *ngFor="let c of compra?.compras">

        <ion-row>
          <ion-col>
            <ion-row style="margin-top: 5px;">
              Descrição: {{ c.descricao }}
            </ion-row>
            <ion-row style="margin-top: 5px;">
              Data: {{ c.data }}
            </ion-row>
            <ion-row style="margin-top: 5px;">
              Pagamento: {{ c.formaPagamento.descricao}}
            </ion-row>
            <ion-row style="margin-top: 5px;">
              Valor: {{ c.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
            </ion-row>
            <ion-row style="margin-top: 5px;" *ngIf="c?.estornada">
              Estornado
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="compra?.visualizar">
    <ion-card-header>
      Pagamentos
    </ion-card-header>
    <ion-card-content>
      <ion-grid *ngFor="let recebimento of compra?.pagamentos">

        <ion-row>
          <ion-col>
            <ion-row style="margin-top: 5px;">
              Data: {{ recebimento?.data }}
            </ion-row>
            <ion-row style="margin-top: 5px;">
              Valor: {{ recebimento?.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
            </ion-row>
            <ion-row style="margin-top: 5px;" *ngIf="recebimento?.estornada">
              Estornado
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>